@use 'variables' as v; 

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
}

p {
    color: v.$negro;
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: v.$negro;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

h1, h2, h3 {
    margin: 0 0 v.$separacion  0 ;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3.2rem;
}

*::-webkit-scrollbar {
    width: 1.4rem;
    height: 1rem;
    background: #c7c7c7;
}
  
*::-webkit-scrollbar-track:hover {
    background: #c1c5c9;
}

*::-webkit-scrollbar-track:active {
    background: #c1c5c9;
}

*::-webkit-scrollbar-thumb {
    background-color: #8b9096;
    border: .3rem solid #8b9096;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #6c757d;
    border-color: #6c757d;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #495057;
    border-color: #495057;
}