@use 'base/variables' as v;
@use 'base/mixins' as m;

.tiendas {
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include m.tablet {
        margin-bottom: 0;
    }

    &__heading,
    &__texto {
        text-align: center
    }

    &__heading {
        color: v.$secundario;
        margin: 2rem 0 0 0;
    }

    &__texto {
        margin-bottom: 3rem;
    }

    &__grid {
        @include m.grid(2, 1rem);

        @include m.desktop {
            @include m.grid(2, 2rem);
        }
    }

    &__enlace {
        transition-property: transform;
        transition-duration: .4s;

        &:hover {
            transform: scale(1.2);
        }
    }
}